@page "{id:int}"
@model RestaurantReviews.Pages.Reviews.DeleteModel

<h1>Ștergere Recenzie</h1>

<h3>Ești sigur că vrei să ștergi această recenzie?</h3>
<div>
    <h4>Restaurant: @Model.Review.Restaurant.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Rating</dt>
        <dd class="col-sm-10">@Model.Review.Rating</dd>

        <dt class="col-sm-2">Comentariu</dt>
        <dd class="col-sm-10">@Model.Review.Comment</dd>

        <dt class="col-sm-2">Data</dt>
        <dd class="col-sm-10">@Model.Review.DatePosted.ToShortDateString()</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Review.ID" />
        <button type="submit" class="btn btn-danger">Șterge</button>
        <a asp-page="Index" class="btn btn-secondary">Anulează</a>
    </form>
</div>
