@page "{id:int}"
@model RestaurantReviews.Pages.Restaurants.DeleteModel

<h1>Ștergere Restaurant</h1>

<h3>Ești sigur că vrei să ștergi acest restaurant?</h3>
<div>
    <h4>@Model.Restaurant.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Adresă</dt>
        <dd class="col-sm-10">@Model.Restaurant.Address</dd>
        
        <dt class="col-sm-2">Oraș</dt>
        <dd class="col-sm-10">@Model.Restaurant.City</dd>

        <dt class="col-sm-2">Tip Bucătărie</dt>
        <dd class="col-sm-10">@Model.Restaurant.CuisineType</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Restaurant.ID" />
        <button type="submit" class="btn btn-danger">Șterge</button>
        <a asp-page="Restaurants" class="btn btn-secondary">Anulează</a>
    </form>
</div>
