@page
@model RestaurantReviews.Pages.IndexModel

<div class="container text-center mt-5">
    <h1 class="display-4">Bine ai venit la Restaurant Reviews!</h1>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <a asp-page="/Restaurants/Restaurants" class="btn btn-primary btn-lg">Vezi Restaurante</a>
        </div>
        <div class="col-md-4">
            <a asp-page="/Reviews/Index" class="btn btn-primary btn-lg">Vezi Recenzii</a>
        </div>
        <div class="col-md-4">
            <a asp-page="/Tags/Index" class="btn btn-primary btn-lg">Explorează Tag-uri</a>
        </div>
    </div>
</div>