/* _content/RestaurantReviews/Pages/Shared/_Layout.cshtml.rz.scp.css */
.navbar[b-sx94ych0wr] {
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.navbar-brand[b-sx94ych0wr] {
  font-size: 1.5rem;
  color: #143248;
}

.navbar-nav .nav-link[b-sx94ych0wr] {
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover[b-sx94ych0wr] {
  color: #1b6ec2;
}

/* Buttons */
.btn-primary[b-sx94ych0wr] {
  background-color: #0077cc;
  border-color: #005fa3;
}

.btn-primary:hover[b-sx94ych0wr] {
  background-color: #005fa3;
  border-color: #004d8a;
}

/* Footer */
.footer[b-sx94ych0wr] {
  background: rgba(0, 0, 0, 0.05);
  font-size: 0.9rem;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Links */
a[b-sx94ych0wr] {
  color: #0077cc;
  text-decoration: none;
}

a:hover[b-sx94ych0wr] {
  color: #005fa3;
}

/* Box Shadow */
.box-shadow[b-sx94ych0wr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
}
