@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="margin: 20px 0;">Bine ai venit la <b>RestaurantReviews</b>!</h1>
    <p class="lead">Descoperă restaurante, lasă recenzii și explorează tag-uri.</p>
</div>