@page
@model RestaurantReviews.Pages.Tags.IndexModel

<h1>Lista Etichete</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Adaugă Etichetă</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nume Etichetă</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model.Tags)
        {
            <tr>
                <td>@tag.Name</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@tag.ID" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-page="Delete" asp-route-id="@tag.ID" class="btn btn-danger btn-sm">Șterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
